
.header {
    background: #fffaf5;
    height: 100px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
    .header__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        

        .logo {
            max-width: 103px;
            img {
                max-width: 103px;
                height: auto;
            }
        }

        .navbar {

            .list-title {
                list-style-type: none;
                display: flex;

                .item {
                    margin-left: 24px;

                    a {
                        font-size: 14px;
                        font-weight: 600;
                        padding: 8px 16px;
                        color: #5e6085;

                        &:hover {
                            color:#000958;
                        }
                    }
                }
            }
        }

        .sign-up {
            min-width: 120px;
            height: 50px;
            text-align: center;
            line-height: 50px;
            font-size: 16px;
            font-weight: 600;
            padding: 0 20px;
            border: #5e6085 1px solid;
            border-radius: 20px;
        }
    }

    
    .menu-mt {
        display: none;
    }
}

.main {
    background: #fffaf5;
}

.container {
    margin-top: 100px;
    background: #fffaf5;

    .home {

        .hero-pet {
            width: 100%;
            height: auto;
            position: relative;
            margin-top: 40px;


            .img-main {
                max-width: calc(100% - 30%);
                text-align: center;
                width: 100%;
                height: auto;
                background-color: rgba(255, 91, 46, 0.6);
                border: 1px solid #fcdcdf;
                border-radius: 20px;
                position: relative;

                img {
                    max-width: 384px;
                    width: 100%;
                    height: auto;

                }
            }

        
            .img-child {
                position: absolute;
                bottom: -10%;
                right: -40%;
                max-width: calc(100% - 40%);
                width: 100%;
                height: auto;
                background-color: #faa7ad;
                border: 1px solid #fcdcdf;

                border-radius: 20px;
                overflow: hidden;

                .hero-2 {
                    max-width: 186px;
                    width: 100%;
                    height: auto;
    
                }
            }

            

            .group-img {
                background-color: #fff;
                position: absolute;
                bottom: -20%;
                right: 15%;
                list-style-type: none;
                border-radius: 20px;
                min-width: 250px;
                box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);

                .item {
                    display: flex;
                    padding: 16px;
                    .box-img3 {
                        border-radius: 10px;
                        background: #fec23f;
                        overflow: hidden;
                    }
                    .box-img4 {
                        border-radius: 10px;
                        overflow: hidden;
                        background: #c6e2fa;
                    }
                    img {
                        width: 40px;
                        height: 40px;

                    }
                    .item__content {
                        margin-left: 16px;

                        .title {
                            h3 {
                                text-align: left;
                                font-size: 14px;
                            }
                        }
                        
                        
                    }

                }
            }

            .skeleton {
                margin-top: 8px;
                height: 4px;
                background-color: rgba(0, 9, 88,0.08);
                border-radius: 10px;

                &.max {
                    width: 118px;
                }

                &.min {
                    width: 68px;
                }

                &.full {
                    width: calc(100% - 32px);
                    height: 2px;
                    margin-left: 16px;
                }
            }
        }

        .hero-content {
            margin-top: 40px;


            .title {

                h3 {
                    font-weight: 800;
                    font-size: 6.6rem;
                    line-height: 1.15;
                    color: #000958;

                }
            }

            .desc {
                width: calc(100% - 40px);
                margin-top: 24px;
                font-size: 1.6rem;
                line-height: 1.5;
                color: #656689;

            }
            .footer {
                margin-top: 24px;
                display: flex;
                align-items: center;

                .btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    max-width: 150px;
                    height: 50px;
                    background-color: #ff5b2e;
                    padding: 0 12px;
                    line-height: 50px;
                    font-weight: 600;
                    color: #fff;
                    border-radius: 20px;

                    svg {
                        margin-left: 8px;
                    }

                }

                .btn-link {
                    margin-left: 16px;
                    color: #000958;
                    text-decoration: underline;
                    font-weight: 600;

                }
            }
        
        }
    }

    @mixin headding {
        font-size: 52px;
        font-weight: 600;
        line-height: 1.15;
        color: #000958;
    }

    @mixin description {
        font-size: 14px;
        line-height: 1.5;
        margin: 32px 0;
        color: #656689;
    }

    @mixin titlecontext {
        display: flex;
        align-items: center;
        color: #48496a;
        font-weight: 600;

    }

    .about {
        padding: 140px 0;
        

        .about__content {
            .about__title {
                @include headding();
            }
            .about__desc {
                @include description();
            }
    
            .about__check-list {
                display: grid;
                grid-template-columns: auto auto;
                gap: 34px 36px;
            }
    
            .check-list__item {
                @include titlecontext();

                a {
                    color: #48496a;

                }
     
                svg {
                    
                    border-radius: 5px;
                    margin-right: 8px;
                }
            }

            .about__2-list {
                display: flex;
                .item__about {
                    @include titlecontext();
                    padding-right: 24px;
                    border-bottom: 1px solid #ccc;
                    
                    a {
                        display: flex;
                        align-items: flex-end;
                        margin-bottom: 8px;

                        svg {
                            margin-right: 8px;
                        }

                    }

                }
            }

            .about__2-context {
                @include description();
                padding: 16px 0;
                margin: 0;

                &.more {
                    padding: 0;
                }
                p {
                    padding:0 0 16px 0;
                }
            }
        }

        .about__img {
            width: 100%;
            height: 100%;
            
            .img-main {
                width: 100%;
                height: 100%;
                position: relative;
                
            }
            
            .overlay {
                position: absolute;
                left: 20%;
                right: 0;
                bottom: 0;
                width: 80%;
                height: calc(100% - 40%);
                background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
                box-shadow: 11px 18px 65px rgba(255, 155, 121, 0.12);
                border-radius: 16px;
                z-index: 1; 
            }

            
            .img-parent {
    
                position: sticky;
                margin-left: calc(100% - 80%);
                width: 70%;
                height: auto;
                z-index: 2;
                display: block;

            }

            .img-child1 {
                position: absolute;
                top: 26%;
                right: -40px;
                width: 25%;
                height: auto;

            }

            .img-content {
                position: absolute;
                top: -30%;
                left: -20%;
                padding: 20px;
                max-width: 136px;
                width: calc(100% - 70%);
                background: #5bd6e2;
                box-shadow: -15px 26px 48px rgba(85, 240, 255, 0.17);
                border-radius: 10px;
                justify-content: center;
                align-items: center;
                color: #fff;
                display: flex;
                flex-direction: column;
                z-index: 2;
            }

            span {
                display: inline-block;
                line-height: 1.5;
                text-align: center;
            }

            .number {
                font-size: 42px;
                font-weight: 800;
                line-height: 40px;
                padding-bottom: 16px;
            }

            .img-child2 {
                position: absolute;
                top: -15%;
                right: -20%;
                width: 50%;
                height: auto;
            }



        }

        .about__2 {
            background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
            border: 2px solid #ffffff;
            box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
            border-radius: 18px;
            width: 80%;
            height: auto;
            position: relative;

            img {
                width: 90%;
                height: auto;
            }

            .about-decor-03 {
                position: absolute;
                width: 10px;
                right: 45px;
                top: 5%;
            }

            .about-decor-04 {
                position: absolute;
                width: 18px;
                right: 8px;
                top: -2%;
            }

            .about-decor-05 {
                position: absolute;
                width: 56px;
                right: -30px;
                top: 8%;
            }

            .about-decor-06 {
                position: absolute;
                right: -30px;
                top: 50%;
                width: 22px;
            }

            .about-decor-07 {
                position: absolute;
                right: 20px;
                top: 70%;
                width: 14px;
            }
            .about-decor-08 {
                position: absolute;
                right: -8%;
                bottom: -13%;
                width: 110px;
            }

            .about-decor-09 {
                position: absolute;
                right: -10%;
                bottom: -15%;
                width: 110px;
            }

            .about-decor-10 {
                position: absolute;
                right: -12%;
                bottom: -17%;
                width: 110px;
            }

        }
        
    }

    

    .space {
        padding: 66px;
    }
}

@mixin header-title {
    font-size: 52px;
    color: #000958;
    line-height: 1.15;
}


@mixin header-desc {
    font-size: 16px;
    color: #5e6085;
    margin-bottom: 16px;
    line-height: 1.5;
}

@mixin item-desc {
    font-size: 13px;
    color: #656689;
    line-height: 1.5;
    margin-bottom: 16px;
}

@mixin item-title {
    margin-left: 13px;
    font-size: 22px;
    color: #000958;
    margin-bottom: 16px;
    line-height: 1.5;
}

.service {
    height: auto;
    width: 100%;
    margin-top: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #fff6ed;

    .service__header {
        text-align: center;
    }

    .service__header-desc {
        @include header-desc();
    }

    .service__header-title {
        @include header-title();
    }

    .service__body {
        margin-top: 40px;
        display: flex;

        .service__body-c1,
        .service__body-c2 {
            position: relative;
            display: flex;
            justify-content: center;
        }

        
        
        .over-bg {
            position: absolute;
            width: 90%;
            height: 60%;
            border-radius: 15px;
            bottom: 0;
            z-index: 1;
            background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);

        }

        .main-img {
            position: static;
            z-index: 2;
            width: 90%;
            max-width: 400px;
            height: auto;
        }

        .footer-s {
            margin-top: 10%;
            width: 100%;
            text-align: center;
        }

        
        

        .service__body-list {
            list-style-type: none  ;
            .item {
                border: 2px solid rgba(255, 188, 122, 0.26);
                margin-top: 20px;
                width: 100%;
                height: auto;
                padding: 28px 24px;
                background-color: #fff;
                border-radius: 10px;


                .title {
                    @include item-title();
                    position: relative;

                    &::after {
                        content: "";
                        height: 25px;
                        width: 2px;
                        background-color: var(--mainLucy);
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 104%;
                    }
                }

                .desc {
                    @include item-desc();
                    display: -webkit-box;
                    -webkit-line-clamp: 2; 
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .btn-link {
                    font-size: 12px;
                    color: var(--mainLucy);
                    text-decoration: underline;
                }
            }
        }

    }

}

.btn-viewall {
    color: #ff5b2e;
    height: 50px;
    line-height: 50px;
    padding: 0 12px;
    text-align: center;
    min-width: 200px;
    border-radius: 20px;
    border: 1px #ff5b2e solid;
    display: inline-block;
    font-weight: 500;
}

.staff {
    padding: 60px 0;
    width: 100%;
    height: auto;
    .staff__header {
        text-align: center;
    }

    .staff__header-desc {
        @include header-desc();

    }

    .staff__header-title {
        @include header-title();
    }

    .staff__body {
        padding-top: 40px;

        .staff__member-list {

            .item {
                display: flex;
                flex-direction: column;
                align-items: center;

            }

            .item-img {
                width: 90%;
                height: auto;
                position: relative;
                border-radius: 130px;
                overflow: hidden;
                .over-bg {
                    position: absolute;
                    bottom: 1;
                    z-index: 1;
                    content: "";
                    height: 80%;
                    width: 100%;
                    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
                    
                }
                
                img {
                    position: relative;
                    width: 100%;
                    height: auto;
                    z-index: 2;

                    
                }
            }

            .staff-desc {
                @include item-desc();
                margin-top: 16px;
            }

            .staff-title {
                @include item-title();
            }

            .footer-staff {
                width: 100%;
                text-align: center;
                margin-top: 40px;
            }

            
        }


    }


}

.choice {
    background-color: #fff6ed;
    padding: 60px 0;
    width: 100%;
    height: auto;
    .choice__header {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center

    }

    .choice__header-desc {
        margin: 32px 0;
        @include header-desc();
        max-width: 700px;
        text-align: center;
        font-weight: 400;

    }

    .choice__header-title {
        @include header-title();
    }

    .choice-btn {
        margin-top: 32px;
        width: 100%;
        text-align: center;
        a {
            display: inline-block;
            width: auto;
            height: 100%;
            border: 1px solid #ff5b2e;
            border-radius: 20px;
            overflow: hidden;
            color: #ff5b2e;
            font-weight: 500;
        }
    }

    .left-choice {
        display: inline-block;
        height: 50px;
        width: 150px;
        line-height: 50px;
        border-radius: 20px;
        text-align: center;
        
        
        &.active {
            color: #fff;
            background-color: #ff5b2e;
        }

    }

    .right-choice {
        display: inline-block;
        line-height: 50px;
        border-radius: 20px;
        height: 50px;
        text-align: center;
        width: 150px;
        
        &.active {
            color: #fff;
            background-color: #ff5b2e;
        }
    }


    .choice__body {
        padding-top: 40px;
        

        .choice-list {
            margin-top: 24px;
            max-width: 312px;
            width: 100%;
            height: auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 20px;
            box-shadow: var(--box-shadow3dir);
        }
       

        .item {
            font-size: 14px;
            color: #ff5b2e;
            line-height: 1.5;
        }

        .choice-title {
            font-size: 18px;
            font-weight: 600;
            line-height: 1.5;
            color: #000958;
        }

        .price {
            font-size: 32px;
            font-weight: 600;
            color: #000958;            
            line-height: 1.5;
            padding: 16px 0;

        }

        .btn-purchase {
            border: 1px solid #ff5b2e;
            padding: 12px 30px;
            display: inline-block;
            border-radius: 20px;
            color: #ff5b2e;
            font-weight: 500;
            width: 100%;
            
            &:hover {
                color: #fff;
                background: #ff5b2e;
            }
        }

        .list {
            margin-top: 20px;
            list-style-type: none;
            .item {
                padding-top: 8px;
                display: flex;
                align-items: center;

                svg {
                    margin-right: 8px;
                }

            }
        }

        

    }
}

.review {
    padding: 64px 0;
    position: relative;
    width: 100%;
    display: flex;
    .review__list {
        position: relative;
        display: flex;
        flex: 1;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .review__item {
        width: 100%;
        height: auto;
        flex: 1;

        .img-main {
            float: right;
            position: relative;
            width: 70%;
            border-radius: 130px;
            height: 100%;
            overflow: hidden;
            white-space: nowrap;

            .over-bg {
                position: absolute;
                bottom: 1%;
                z-index: 1;
                height: 90%;
                width: 100%;
                border-radius: 130px;
                background-color: #fec23f;


            }

            img {
                position: relative;
                z-index: 2;
                width: 100%;
                height: auto;
            }
        
        }
        
        .content {
            padding: 40px 50px;
            .content-title {
                @include header-title();
            }
    
            .content-desc {
                @include header-desc();
                padding: 30px 0;
                
            }
    
            .content-sign {
                @include item-title();
                font-weight: 500;
                position: relative;

                &::before {
                    content: "__";
                }
            }
    
        }
        
    }

    .con-btn {
        position: relative;
    }

    
      
}

@mixin dot($num:2) {
    white-space: nowrap;
    display: -webkit-box;
    -webkit-line-clamp: #{$num};
    -webkit-box-orient: vertical ;
    overflow: hidden;
    text-overflow: ellipsis;
}



.blog {
    padding: 60px 0;

    .blog__heading {
        padding-bottom: 40px;
        display: flex;
        justify-content: space-between;

        .title {
            @include header-title();

        }

        .content {

            .desc {
                @include header-desc();

            }

        }

        
    }

    .blog__body {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        transition-property: transform;
        box-sizing: content-box;
    }

    .blog__list {
        display: flex;
        overflow: hidden;
        

        .blog__item {
            transition-property: transform;
            width: 100%;
            margin-right: 24px;
            margin-bottom: 24px;
        }
        
        .img-main {
            position: relative;
            overflow: hidden;
            border-radius: 20px;
    
            .date {
                @include item-desc();
                font-size: 16px;
                position: absolute;
                top: 10px;
                left: 40px;
                color: #fff;
                z-index: 2;
                
    
            }
            
            .overlay-bg {
                border-radius: 20px;

                position: absolute;
                bottom: 3px;
                height: 100%;
                width: 100%;
                background-color: #5bd6e2;
                z-index: 1;
            }

            img {
                position: relative;
                z-index: 2;
                width: 100%;
                padding-left: 40px;
                padding-top: 40px;
                height: 80%;
                min-height: 300px;
            }
        }
        
        
        
        .content {
            white-space: normal;


            .title {
                @include item-title();
                padding-top: 24px;
                display: -webkit-box;
                -webkit-line-clamp: 2; 
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
                overflow: hidden;
                margin-left: 0;

    
            }
            
            .desc {
                @include item-desc();
                display: -webkit-box;
                -webkit-line-clamp: 3; 
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
                overflow: hidden;
            }

        }
        
        
    }

}

.arrow_btn {
    height: 50px;
    width: 50px;
    border: 1px solid #ff5b2e;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
}

.btn-right {
    right: 0;
}

.btn-left {
    left: 0;
}
