.header {
  background: #fffaf5;
  height: 100px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
}
.header .header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header .header__top .logo {
  max-width: 103px;
}
.header .header__top .logo img {
  max-width: 103px;
  height: auto;
}
.header .header__top .navbar .list-title {
  list-style-type: none;
  display: flex;
}
.header .header__top .navbar .list-title .item {
  margin-left: 24px;
}
.header .header__top .navbar .list-title .item a {
  font-size: 14px;
  font-weight: 600;
  padding: 8px 16px;
  color: #5e6085;
}
.header .header__top .navbar .list-title .item a:hover {
  color: #ff5b2e;
}
.header .header__top .sign-up {
  min-width: 120px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 16px;
  font-weight: 600;
  padding: 0 20px;
  border: #5e6085 1px solid;
  border-radius: 20px;
}
.header .header__top .sign-up:hover {
  color: #fff;
  background-color: #5e6085;
}
.header .menu-mt {
  display: none;
}

.main {
  background: #fffaf5;
}

.container {
  margin-top: 100px;
  background: #fffaf5;
}
.container .home .hero-pet {
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 40px;
}
.container .home .hero-pet .img-main {
  max-width: 70%;
  text-align: center;
  width: 100%;
  height: auto;
  background-color: rgba(255, 91, 46, 0.6);
  border: 1px solid #fcdcdf;
  border-radius: 20px;
  position: relative;
}
.container .home .hero-pet .img-main img {
  max-width: 384px;
  width: 100%;
  height: auto;
}
.container .home .hero-pet .img-child {
  position: absolute;
  bottom: -10%;
  right: -40%;
  max-width: 60%;
  width: 100%;
  height: auto;
  background-color: #faa7ad;
  border: 1px solid #fcdcdf;
  border-radius: 20px;
  overflow: hidden;
}
.container .home .hero-pet .img-child .hero-2 {
  max-width: 186px;
  width: 100%;
  height: auto;
}
.container .home .hero-pet .group-img {
  background-color: #fff;
  position: absolute;
  bottom: -20%;
  right: 15%;
  list-style-type: none;
  border-radius: 20px;
  min-width: 250px;
  box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}
.container .home .hero-pet .group-img .item {
  display: flex;
  padding: 16px;
}
.container .home .hero-pet .group-img .item .box-img3 {
  border-radius: 10px;
  background: #fec23f;
  overflow: hidden;
}
.container .home .hero-pet .group-img .item .box-img4 {
  border-radius: 10px;
  overflow: hidden;
  background: #c6e2fa;
}
.container .home .hero-pet .group-img .item img {
  width: 40px;
  height: 40px;
}
.container .home .hero-pet .group-img .item .item__content {
  margin-left: 16px;
}
.container .home .hero-pet .group-img .item .item__content .title h3 {
  text-align: left;
  font-size: 14px;
}
.container .home .hero-pet .skeleton {
  margin-top: 8px;
  height: 4px;
  background-color: rgba(0, 9, 88, 0.08);
  border-radius: 10px;
}
.container .home .hero-pet .skeleton.max {
  width: 118px;
}
.container .home .hero-pet .skeleton.min {
  width: 68px;
}
.container .home .hero-pet .skeleton.full {
  width: calc(100% - 32px);
  height: 2px;
  margin-left: 16px;
}
.container .home .hero-content {
  margin-top: 40px;
}
.container .home .hero-content .title h3 {
  font-weight: 800;
  font-size: 6.6rem;
  line-height: 1.15;
  color: #000958;
}
.container .home .hero-content .desc {
  width: calc(100% - 40px);
  margin-top: 24px;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #656689;
}
.container .home .hero-content .footer {
  margin-top: 24px;
  display: flex;
  align-items: center;
}
.container .home .hero-content .footer .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 150px;
  height: 50px;
  background-color: #ff5b2e;
  padding: 0 12px;
  line-height: 50px;
  font-weight: 600;
  color: #fff;
  border-radius: 20px;
}
.container .home .hero-content .footer .btn:hover {
  opacity: 0.6;
}
.container .home .hero-content .footer .btn svg {
  margin-left: 8px;
}
.container .home .hero-content .footer .btn-link {
  margin-left: 16px;
  color: #000958;
  text-decoration: underline;
  font-weight: 600;
}
.container .home .hero-content .footer .btn-link:hover {
  color: #ff5b2e;
}
.container .about {
  padding: 140px 0;
}
.container .about .about__content .about__title {
  font-size: 52px;
  font-weight: 600;
  line-height: 1.15;
  color: #000958;
}
.container .about .about__content .about__desc {
  font-size: 14px;
  line-height: 1.5;
  margin: 32px 0;
  color: #656689;
}
.container .about .about__content .about__check-list {
  display: grid;
  grid-template-columns: auto auto;
  gap: 34px 36px;
}
.container .about .about__content .check-list__item {
  display: flex;
  align-items: center;
  color: #48496a;
  font-weight: 600;
}
.container .about .about__content .check-list__item a {
  color: #48496a;
}
.container .about .about__content .check-list__item svg {
  border-radius: 5px;
  margin-right: 8px;
}
.container .about .about__content .about__2-list {
  display: flex;
}
.container .about .about__content .about__2-list .item__about {
  display: flex;
  align-items: center;
  color: #48496a;
  font-weight: 600;
  padding-right: 24px;
  border-bottom: 1px solid #ccc;
}
.container .about .about__content .about__2-list .item__about a {
  display: flex;
  align-items: flex-end;
  margin-bottom: 8px;
}
.container .about .about__content .about__2-list .item__about a svg {
  margin-right: 8px;
}
.container .about .about__content .about__2-context {
  font-size: 14px;
  line-height: 1.5;
  margin: 32px 0;
  color: #656689;
  padding: 16px 0;
  margin: 0;
}
.container .about .about__content .about__2-context.more {
  padding: 0;
}
.container .about .about__content .about__2-context p {
  padding: 0 0 16px 0;
}
.container .about .about__img {
  width: 100%;
  height: 100%;
}
.container .about .about__img .img-main {
  width: 100%;
  height: 100%;
  position: relative;
}
.container .about .about__img .overlay {
  position: absolute;
  left: 20%;
  right: 0;
  bottom: 0;
  width: 80%;
  height: 60%;
  background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
  box-shadow: 11px 18px 65px rgba(255, 155, 121, 0.12);
  border-radius: 16px;
  z-index: 1;
}
.container .about .about__img .img-parent {
  position: sticky;
  margin-left: 20%;
  width: 70%;
  height: auto;
  z-index: 2;
  display: block;
}
.container .about .about__img .img-child1 {
  position: absolute;
  top: 26%;
  right: -40px;
  width: 25%;
  height: auto;
}
.container .about .about__img .img-content {
  position: absolute;
  top: -30%;
  left: -20%;
  padding: 20px;
  max-width: 136px;
  width: 30%;
  background: #5bd6e2;
  box-shadow: -15px 26px 48px rgba(85, 240, 255, 0.17);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  z-index: 2;
}
.container .about .about__img span {
  display: inline-block;
  line-height: 1.5;
  text-align: center;
}
.container .about .about__img .number {
  font-size: 42px;
  font-weight: 800;
  line-height: 40px;
  padding-bottom: 16px;
}
.container .about .about__img .img-child2 {
  position: absolute;
  top: -15%;
  right: -20%;
  width: 50%;
  height: auto;
}
.container .about .about__2 {
  background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
  border: 2px solid #ffffff;
  box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
  border-radius: 18px;
  width: 80%;
  height: auto;
  position: relative;
}
.container .about .about__2 img {
  width: 90%;
  height: auto;
}
.container .about .about__2 .about-decor-03 {
  position: absolute;
  width: 10px;
  right: 45px;
  top: 5%;
}
.container .about .about__2 .about-decor-04 {
  position: absolute;
  width: 18px;
  right: 8px;
  top: -2%;
}
.container .about .about__2 .about-decor-05 {
  position: absolute;
  width: 56px;
  right: -30px;
  top: 8%;
}
.container .about .about__2 .about-decor-06 {
  position: absolute;
  right: -30px;
  top: 50%;
  width: 22px;
}
.container .about .about__2 .about-decor-07 {
  position: absolute;
  right: 20px;
  top: 70%;
  width: 14px;
}
.container .about .about__2 .about-decor-08 {
  position: absolute;
  right: -8%;
  bottom: -13%;
  width: 110px;
}
.container .about .about__2 .about-decor-09 {
  position: absolute;
  right: -10%;
  bottom: -15%;
  width: 110px;
}
.container .about .about__2 .about-decor-10 {
  position: absolute;
  right: -12%;
  bottom: -17%;
  width: 110px;
}
.container .space {
  padding: 66px;
}

.service {
  height: auto;
  width: 100%;
  margin-top: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #fff6ed;
}
.service .service__header {
  text-align: center;
}
.service .service__header-desc {
  font-size: 16px;
  color: #5e6085;
  margin-bottom: 16px;
  line-height: 1.5;
}
.service .service__header-title {
  font-size: 52px;
  color: #000958;
  line-height: 1.15;
}
.service .service__body {
  margin-top: 40px;
  display: flex;
}
.service .service__body .service__body-c1,
.service .service__body .service__body-c2 {
  position: relative;
  display: flex;
  justify-content: center;
}
.service .service__body .over-bg {
  position: absolute;
  width: 90%;
  height: 60%;
  border-radius: 15px;
  bottom: 0;
  z-index: 1;
  background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}
.service .service__body .main-img {
  position: static;
  z-index: 2;
  width: 90%;
  max-width: 400px;
  height: auto;
}
.service .service__body .footer-s {
  margin-top: 10%;
  width: 100%;
  text-align: center;
}
.service .service__body .service__body-list {
  list-style-type: none;
}
.service .service__body .service__body-list .item {
  border: 2px solid rgba(255, 188, 122, 0.26);
  margin-top: 20px;
  width: 100%;
  height: auto;
  padding: 28px 24px;
  background-color: #fff;
  border-radius: 10px;
}
.service .service__body .service__body-list .item .title {
  margin-left: 13px;
  font-size: 22px;
  color: #000958;
  margin-bottom: 16px;
  line-height: 1.5;
  position: relative;
}
.service .service__body .service__body-list .item .title::after {
  content: "";
  height: 25px;
  width: 2px;
  background-color: var(--mainLucy);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 104%;
}
.service .service__body .service__body-list .item .desc {
  font-size: 13px;
  color: #656689;
  line-height: 1.5;
  margin-bottom: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.service .service__body .service__body-list .item .btn-link {
  font-size: 12px;
  color: var(--mainLucy);
  text-decoration: underline;
}

.btn-viewall {
  color: #ff5b2e;
  height: 50px;
  line-height: 50px;
  padding: 0 12px;
  text-align: center;
  min-width: 200px;
  border-radius: 20px;
  border: 1px #ff5b2e solid;
  display: inline-block;
  font-weight: 500;
}
.btn-viewall:hover {
  color: #fff;
  background-color: #ff5b2e;
}

.staff {
  padding: 60px 0;
  width: 100%;
  height: auto;
}
.staff .staff__header {
  text-align: center;
}
.staff .staff__header-desc {
  font-size: 16px;
  color: #5e6085;
  margin-bottom: 16px;
  line-height: 1.5;
}
.staff .staff__header-title {
  font-size: 52px;
  color: #000958;
  line-height: 1.15;
}
.staff .staff__body {
  padding-top: 40px;
}
.staff .staff__body .staff__member-list .item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.staff .staff__body .staff__member-list .item-img {
  width: 90%;
  height: auto;
  position: relative;
  border-radius: 130px;
  overflow: hidden;
}
.staff .staff__body .staff__member-list .item-img .over-bg {
  position: absolute;
  bottom: 1;
  z-index: 1;
  content: "";
  height: 80%;
  width: 100%;
  background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
}
.staff .staff__body .staff__member-list .item-img img {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 2;
}
.staff .staff__body .staff__member-list .staff-desc {
  font-size: 13px;
  color: #656689;
  line-height: 1.5;
  margin-bottom: 16px;
  margin-top: 16px;
}
.staff .staff__body .staff__member-list .staff-title {
  margin-left: 13px;
  font-size: 22px;
  color: #000958;
  margin-bottom: 16px;
  line-height: 1.5;
}
.staff .staff__body .staff__member-list .footer-staff {
  width: 100%;
  text-align: center;
  margin-top: 40px;
}

.choice {
  background-color: #fff6ed;
  padding: 60px 0;
  width: 100%;
  height: auto;
}
.choice .choice__header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.choice .choice__header-desc {
  margin: 32px 0;
  font-size: 16px;
  color: #5e6085;
  margin-bottom: 16px;
  line-height: 1.5;
  max-width: 700px;
  text-align: center;
  font-weight: 400;
}
.choice .choice__header-title {
  font-size: 52px;
  color: #000958;
  line-height: 1.15;
}
.choice .choice-btn {
  margin-top: 32px;
  width: 100%;
  text-align: center;
}
.choice .choice-btn a {
  display: inline-block;
  width: auto;
  height: 100%;
  border: 1px solid #ff5b2e;
  border-radius: 20px;
  overflow: hidden;
  color: #ff5b2e;
  font-weight: 500;
}
.choice .left-choice {
  display: inline-block;
  height: 50px;
  width: 150px;
  line-height: 50px;
  border-radius: 20px;
  text-align: center;
}
.choice .left-choice.active {
  color: #fff;
  background-color: #ff5b2e;
}
.choice .right-choice {
  display: inline-block;
  line-height: 50px;
  border-radius: 20px;
  height: 50px;
  text-align: center;
  width: 150px;
}
.choice .right-choice.active {
  color: #fff;
  background-color: #ff5b2e;
}
.choice .choice__body {
  padding-top: 40px;
}
.choice .choice__body .choice-list {
  margin-top: 24px;
  max-width: 312px;
  width: 100%;
  height: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: var(--box-shadow3dir);
}
.choice .choice__body .item {
  font-size: 14px;
  color: #ff5b2e;
  line-height: 1.5;
}
.choice .choice__body .choice-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  color: #000958;
}
.choice .choice__body .price {
  font-size: 32px;
  font-weight: 600;
  color: #000958;
  line-height: 1.5;
  padding: 16px 0;
}
.choice .choice__body .btn-purchase {
  border: 1px solid #ff5b2e;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 20px;
  color: #ff5b2e;
  font-weight: 500;
  width: 100%;
}
.choice .choice__body .btn-purchase:hover {
  color: #fff;
  background: #ff5b2e;
}
.choice .choice__body .list {
  margin-top: 20px;
  list-style-type: none;
}
.choice .choice__body .list .item {
  padding-top: 8px;
  display: flex;
  align-items: center;
}
.choice .choice__body .list .item svg {
  margin-right: 8px;
}

.review {
  padding: 64px 0;
  position: relative;
  width: 100%;
  display: flex;
}
.review .review__list {
  position: relative;
  display: flex;
  flex: 1;
  overflow-y: hidden;
  overflow-x: hidden;
}
.review .review__item {
  width: 100%;
  height: auto;
  flex: 1;
}
.review .review__item .img-main {
  float: right;
  position: relative;
  width: 70%;
  border-radius: 130px;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.review .review__item .img-main .over-bg {
  position: absolute;
  bottom: 1%;
  z-index: 1;
  height: 90%;
  width: 100%;
  border-radius: 130px;
  background-color: #fec23f;
}
.review .review__item .img-main img {
  position: relative;
  z-index: 2;
  width: 100%;
  height: auto;
}
.review .review__item .content {
  padding: 40px 50px;
}
.review .review__item .content .content-title {
  font-size: 52px;
  color: #000958;
  line-height: 1.15;
}
.review .review__item .content .content-desc {
  font-size: 16px;
  color: #5e6085;
  margin-bottom: 16px;
  line-height: 1.5;
  padding: 30px 0;
}
.review .review__item .content .content-sign {
  margin-left: 13px;
  font-size: 22px;
  color: #000958;
  margin-bottom: 16px;
  line-height: 1.5;
  font-weight: 500;
  position: relative;
}
.review .review__item .content .content-sign::before {
  content: "__";
}
.review .con-btn {
  position: relative;
}

.blog {
  padding: 60px 0;
}
.blog .blog__heading {
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
}
.blog .blog__heading .title {
  font-size: 52px;
  color: #000958;
  line-height: 1.15;
}
.blog .blog__heading .content .desc {
  font-size: 16px;
  color: #5e6085;
  margin-bottom: 16px;
  line-height: 1.5;
}
.blog .blog__body {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}
.blog .blog__list {
  display: flex;
  overflow: hidden;
}
.blog .blog__list .blog__item {
  transition-property: transform;
  width: 100%;
  margin-right: 24px;
  margin-bottom: 24px;
}
.blog .blog__list .img-main {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}
.blog .blog__list .img-main .date {
  font-size: 13px;
  color: #656689;
  line-height: 1.5;
  margin-bottom: 16px;
  font-size: 16px;
  position: absolute;
  top: 10px;
  left: 40px;
  color: #fff;
  z-index: 2;
}
.blog .blog__list .img-main .overlay-bg {
  border-radius: 20px;
  position: absolute;
  bottom: 3px;
  height: 100%;
  width: 100%;
  background-color: #5bd6e2;
  z-index: 1;
}
.blog .blog__list .img-main img {
  position: relative;
  z-index: 2;
  width: 100%;
  padding-left: 40px;
  padding-top: 40px;
  height: 80%;
  min-height: 300px;
}
.blog .blog__list .content {
  white-space: normal;
}
.blog .blog__list .content .title {
  margin-left: 13px;
  font-size: 22px;
  color: #000958;
  margin-bottom: 16px;
  line-height: 1.5;
  padding-top: 24px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-left: 0;
}
.blog .blog__list .content .desc {
  font-size: 13px;
  color: #656689;
  line-height: 1.5;
  margin-bottom: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.arrow_btn {
  height: 50px;
  width: 50px;
  border: 1px solid #ff5b2e;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
}

.btn-right {
  right: 0;
}

.btn-left {
  left: 0;
}

.footer {
  background-color: #fff6ed;
  padding: 60px 0;
}
.footer .contact {
  display: flex;
  flex-direction: column;
}
.footer .contact .logo {
  max-width: 103px;
}
.footer .contact .logo img {
  max-width: 103px;
  height: auto;
}
.footer .contact .send-form {
  margin: 24px 0;
  display: inline-block;
  display: flex;
  position: relative;
}
.footer .contact .input-form {
  height: 50px;
  width: 90%;
  outline: none;
  border: 1px solid #ff5b2e;
  font-size: 16px;
  line-height: 1.5;
  padding: 0 20px;
  border-radius: 20px;
}
.footer .contact .btn-send {
  position: absolute;
  top: 0;
  right: 9%;
  height: 50px;
  width: 50px;
  border: 1px solid #ff5b2e;
  background-color: #ff5b2e;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .contact h3 {
  font-size: 16px;
  color: #5e6085;
  margin-bottom: 16px;
  line-height: 1.5;
}
.footer .contact .social-icon {
  margin-right: 8px;
}
.footer .info .info-item .title {
  font-size: 16px;
  color: #5e6085;
  margin-bottom: 16px;
  line-height: 1.5;
  color: #000958;
}
.footer .info .info-item .item {
  font-size: 13px;
  color: #656689;
  line-height: 1.5;
  margin-bottom: 16px;
}
.footer .info .info-item .item:hover {
  color: #ff5b2e;
}

/*# sourceMappingURL=main.css.map */
